<a href="https://colab.research.google.com/github/Kyle-Franz-Rodriguez/VDA-CPE031-CPE21S4/blob/main/Exercise-2/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Example 1**

In [2]:
import pandas

mydataset = {'animals': ["Cat", "Dog", "Rabbit"],'height': [13, 17, 8]}
myvar = pandas.DataFrame(mydataset)
print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

Locate row

In [8]:
import pandas

mydataset = {'animals': ["Cat", "Dog", "Rabbit"],'height': [13, 17, 8]}
myvar = pandas.DataFrame(mydataset)
print(myvar.loc[0])

animals    Cat
height      13
Name: 0, dtype: object

# **Example 2**

In [27]:
import pandas as pd

a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

# **Example 3**

In [6]:
import pandas as pd

data = {'age': [42,38,39], 'weight': [50,40,45]}
myvar = pd.DataFrame(data)
print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45

locate row

In [10]:
import pandas as pd

data = {'age': [42,38,39], 'weight': [50,40,45]}
myvar = pd.DataFrame(data)
print(myvar.loc[0])

age       42
weight    50
Name: 0, dtype: int64

locate multiple rows

In [13]:
import pandas as pd

data = {'age': [42,38,39], 'weight': [50,40,45]}
myvar = pd.DataFrame(data)
print(myvar.loc[[0,1]])

   age  weight
0   42      50
1   38      40

# **Example 4**

In [21]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])

dframe = pd.DataFrame([s1,s2,s3])
print(dframe.loc[1:])

   0  1   2
1  1  5   9
2  2  6  10

* DataFrameVar.drop() - drops the variable u dont want to show

In [23]:
print(dframe.drop([0]))

   0  1   2
1  1  5   9
2  2  6  10

# **Example 5**

In [26]:
import pandas as pd

dframe = pd.DataFrame(index=[0,1,2], columns=[0,1,2])
print(dframe)

     0    1    2
0  NaN  NaN  NaN
1  NaN  NaN  NaN
2  NaN  NaN  NaN

to put an item:

In [28]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
dframe = pd.DataFrame([s1,s2,s3], index=[0,1,2], columns=[0,1,2])
print(dframe)

   0  1   2
0  0  4   8
1  1  5   9
2  2  6  10